<!doctype html>
<html lang="en">
<head>
    {{$basePath := .BasePath}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jürgen Enge (juergen@info-age.net)">
    <title>Album Mediathek HGK FHNW</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


</head>
<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Album shows thumbnails on S3 storage systems</p>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                <strong>Album <a href="https://mediathek.hgk.fhnw.ch">Mediathek HGK FHNW</a></strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Album</h1>
                <p class="lead text-muted">
                    {{$ps := splitList "/" .Path}}
                    {{$num := len $ps}}
                    {{$link := .BasePath}}
                    {{range $i, $p := $ps}}{{$link = printf "%s/%s" $link $p}}/<a href="{{$link}}">{{$p}}</a>{{end}}
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container-fluid">

            <div class="row g-3">
                {{range $e := .Entries}}
                <div class="col" style="max-width: 300px;">
                    <div class="card shadow-sm">
                        {{if not $e.IsDir}}
                        <img src="{{$basePath}}/{{$e.Name}}/thumb" loading="lazy" />
                        {{end}}

                        <div class="card-body">
                            <p class="card-text">{{$e.Name}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {{if $e.IsDir}}
                                        <a href="{{$basePath}}/{{$e.Name}}" type="button" class="btn btn-sm btn-outline-secondary">Open</a>
                                    {{else}}
                                    <a href="{{$basePath}}/{{$e.Name}}/master" target="_blank" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>

</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Album provided by <a href="https://mediathek.hgk.fhnw.ch">Mediathek HGK FHNW</a>! Based on Album example © Bootstrap.</p>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>

